bin/proj
.vscode/launch.json
build.sh
.vscode/settings.json
files/indexbackup.txt
files/data.txt
files/indexfile.txt
files/test.txt
Projekt2.zip
bin/debug/App.d
bin/debug/App.o
bin/debug/BTree.d
bin/debug/BTree.o
bin/debug/Cache.d
bin/debug/Cache.o
bin/debug/Displayer.d
bin/debug/Displayer.o
bin/debug/FileManager.d
bin/debug/FileManager.o
bin/debug/main.d
bin/debug/main.o
bin/relase/App.d
bin/relase/App.o
bin/relase/BTree.d
bin/relase/BTree.o
bin/relase/Cache.d
bin/relase/Cache.o
bin/relase/Displayer.d
bin/relase/Displayer.o
bin/relase/FileManager.d
bin/relase/FileManager.o
bin/relase/main.d
bin/relase/main.o
